.container
	.flex-container.align-middle.align-justify
		menu.bottom-menu.flex-container.align-middle
			a.font.bottom-menu-item.active Overview
			a.font.bottom-menu-item Event View
			a.font.bottom-menu-item Calendar
		menu.bottom-menu-link.flex-container.align-middle
			a.bottom-menu-link-item
				span.fa.fa-list.mr
				span.fa.fa-caret-down(style="color: #c8304d")
			a.bottom-menu-link-item
				span.fa.fa-volume-up
			a.bottom-menu-link-item
				span.fa.fa-cogs
			.bottom-menu-link-item
				span.font-m-white.mr Language
				a.font.white
					span.mr English
					span.fa.fa-angle-down
			a.bottom-menu-link-item.last
				span.fa.fa-calendar
				span.ml#clock 15:01:13 GTM +2
			.languages.not-active.scroll
				a.font.languages-link(href="#") English 33
				a.font.languages-link(href="#") English 33
				a.font.languages-link(href="#") English 33
				a.font.languages-link(href="#") English 33
				a.font.languages-link(href="#") English 33
				a.font.languages-link(href="#") English 33
				a.font.languages-link(href="#") English 33