extends ../template/template.pug
block content
	.loader
		i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
	.blur.none
		.header
			.nav.container-fluid
				.container.flex-container.align-middle
					.content.left#header-forLogo
					.content.center#header-forMenu
					.content.right#header-forLogin
			.container-fluid.bottom#header-forMenuBottom

		.main
			
		.footer
			.container-fluid.partner#footer-forPartner
			.container-fluid.about#footer-forAbout
			.container-fluid.info#footer-forInfo
			.container-fluid.copyright#footer-forCopyright