.hot.flex-container.align-middle
	.hot-title
		p.font.text-uppercase.text-nowrap Hot news
	marquee.hot-list
		.flex-container.align-middle
			p.font.white.hot-item
				strong Tennis 0: 
				span Berdych blasts new rule
			p.font.white.hot-item
				strong Tennis 1: 
				span Berdych blasts new rule
			p.font.white.hot-item
				strong Tennis 2: 
				span Berdych blasts new rule
			p.font.white.hot-item
				strong Tennis 3: 
				span Berdych blasts new rule
			p.font.white.hot-item
				strong Tennis 4: 
				span Berdych blasts new rule
			p.font.white.hot-item
				strong Tennis 5: 
				span Berdych blasts new rule