.container.flex-container(style="margin-bottom: 10px")
	.content.center
		#prematch-forMainHotNews

.container.flex-container(style="margin-bottom: 10px")
	.content.left
		#prematch-forMainFavourite(style="margin-bottom: 10px")
		#prematch-forMainClassification(style="margin-bottom: 10px")

	.content.center
		#prematch-forBanner
		#prematch-forStat
		.maTable#prematch-forTable

	.content.right
		#prematch-forSearch(style="margin-bottom: 10px")
		#prematch-forBetslip(style="margin-bottom: 10px")