.menu.flex-container.align-center-middle
	a(href="/#/sports/").font.menu-item Sports
	a(href="/#/inplay/").font.menu-item Inplay
	a(href="/#/event-1/").font.menu-item Event-1
	a(href="/#/event-2/").font.menu-item Event-2
	a(href="/#/news/").font.menu-item News
	a(href="/#/articles/").font.menu-item Articles