.classification.active
	.classification__category.closed
		p.font Soccer
		p.sports-1.icon
	.classification__subcategory.closed
		img(src="./img/icon-country/Ukraine.ico").icon
		p.font Ukraine
	.classification__link
		.block
			p.font.m-white.ellipsis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis fugiat porro consectetur ratione repellendus quae assumenda ducimus totam ipsam earum quas quos ex consequatur provident, repellat voluptatibus eum? Aspernatur, esse.
			p.font.m-white.ellipsis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis fugiat porro consectetur ratione repellendus quae assumenda ducimus totam ipsam earum quas quos ex consequatur provident, repellat voluptatibus eum? Aspernatur, esse.
		.sport-icon.play
		.block.text-right
			p.font.m-white 1 - 4
			p.font.m-white 87:03

	.classification__category.closed
		p.font Soccer
		p.sports-4.icon
	.classification__category.closed
		p.font Basketball
		p.sports-5.icon
	.classification__category.closed
		p.font Basketball
		p.sports-6.icon
	.classification__category.closed
		p.font Basketball
		p.sports-7.icon