.favourite
	.flex-container.align-middle.align-justify.favourite__category
		p.font.white My favourite
		p.star
	a.flex-container.align-middle.align-justify.favourite__link
		span.sports-5.favourite__icon
		span.font.ellipsis.favourite__text Football 5
		span.font.favourite__text (235)
	a.flex-container.align-middle.align-justify.favourite__link
		span.sports-5.favourite__icon
		span.font.ellipsis.favourite__text Football 5
		span.font.favourite__text (235)
	a.flex-container.align-middle.align-justify.favourite__link
		span.sports-5.favourite__icon
		span.font.ellipsis.favourite__text Football 5
		span.font.favourite__text (235)