.container.flex-container(style="margin-bottom: 10px")
	.content.center
		#event-forMainHotNews

.container.flex-container(style="margin-bottom: 10px")
	.content.left
		#event-forMainFavourite(style="margin-bottom: 10px")
		#event-forMainClassification(style="margin-bottom: 10px")

	.content.center
		.scoreboard#event-forScoreboard
		.eventTable#event-forTable

	.content.right
		#event-forSearch(style="margin-bottom: 10px")
		#event-forBetslip(style="margin-bottom: 10px")