.container.flex-container(style="margin-bottom: 10px")
	.content.center
		#inplay-forMainHotNews

.container.flex-container(style="margin-bottom: 10px")
	.content.center
		.slider.inplaySlider#inplay-forSlider(style="margin-bottom: 10px")
		.inplayResultTable#inplay-forTable

	.content.right
		#inplay-forSearch(style="margin-bottom: 10px")
		#inplay-forBetslip(style="margin-bottom: 10px")