.container.flex-container(style="margin-bottom: 10px")
	.content.center
		#sports-forMainHotNews

.container.flex-container(style="margin-bottom: 10px")
	.content.left
		#sports-forMainFavourite(style="margin-bottom: 10px")
		#sports-forMainClassification(style="margin-bottom: 10px")
	.content.center
		p.font.white Sports

	.content.right
		#sports-forSearch(style="margin-bottom: 10px")
		#sports-forBetslip(style="margin-bottom: 10px")