.slider{
	margin-bottom: 10px;
	width: 100%;
	height: 68px;
	position: relative;
	background-color: #343341;
	display: flex;
	&__wrapper{
		overflow: hidden;
		border: 1px solid red;
	}
	&__items{
		position: relative;
		//width: 100%;
		height: 100%;
		display: flex;
		//overflow: hidden;
		white-space: nowrap;
		width: 10000px;
	}
	&-prev, 
	&-next{
		z-index: 1;
		height: 100%;
		width: 30px;
		position: absolute;
		background-color: $primary;
		opacity: 0.8;
		& > *{
			color: #fff;
			font-size: 22px;
		}
		&:hover,
		&.active{
			opacity: 1;
		}
	}
	&-prev{
		left: 0;
	}
	&-next{
		right: 0;
	}

	&-link{
		padding: 0 5px;
		white-space: nowrap;
		position: relative;
		min-width: 95px;
		max-width: 95px;
		height: 100%;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		&:after{
			content: "";
			position: absolute;
			left: 0;
			bottom: 0;
			right: 0;
			width: 0;
			height: 3px;
			background-color: $primary;
		}
		&:hover,
		&.active{
			&:after{
				width: 100%;
				transition: all .5s;
			}
			*{
				color: #fff
			}
		}
	}
	&-icon,
	&-text{
		text-align: center;
		width: 100%;
		color: $m-white;
	}

	&-icon{
		height: 50%;
		font-size: 20px;
	}
}