.sign-in.flex-container.align-right
	.block.sign-in-wrapper
		input(type="text", placeholder="Login").field.sign-in-field
		a.font.text-underline.sign-in-link Register now!
	.block.sign-in-wrapper
		input(type="text", placeholder="Password").field.sign-in-field
		a.font.text-underline.sign-in-link Forgotten password!
	.block
		a.button.primary.square.sign-in-button(href="/#/account/")