.login.flex-container.align-right
	.block.login__wrapper
		input(type="text", placeholder="Login").field.login__field
		a.font.text-underline.login__link Register now!
	.block.sign-in-wrapper
		input(type="text", placeholder="Password").field.login__field
		a.font.text-underline.login__link Forgotten password!
	.block
		a.button.primary.square.login__button(href="/#/account/")