.login-in.flex-container.align-middle.align-right
	.block.mr
		a.font.title.login-in-name Vasya Pupkin
		.flex-container.align-right.align-middle.login-in-wrapper
			a.font.login-in-price.mr 4.36 Usd
			a.font.login-in-deposit Deposit
	a.login-in-img(href="/#/account/")
		img(src="./img/user.png", alt="User")
		p.login-in-circle
			span.font 21