.login-in.flex-container.align-middle.align-right
	.block.mr
		a.font.title.login-in__name Vasya Pupkin
		.flex-container.align-right.align-middle.login-in__wrapper
			a.font.mr.login-in__price 4.36 Usd
			a.font.login-in__deposit Deposit
	a.login-in__img(href="/#/account/")
		img(src="./img/user.png", alt="User")
		p.login-in__circle
			span.font 21