.container.flex-container
	ul.info-list
		li.info-item
			p.font.white.md Информация
		li.info-item
			a.font.m-white.info-link Информация
		li.info-item
			a.font.m-white.info-link О Нас
		li.info-item
			a.font.m-white.info-link Правила
		li.info-item
			a.font.m-white.info-link Способы оплаты
		li.info-item
			a.font.m-white.info-link Конфедициальность
	ul.info-list
		li.info-item
			p.font.white.md Социальные сети
		li.info-item
			a.font.m-white.info-link Контакты
		li.info-item
			a.font.m-white.info-link Live Chat
	ul.info-list
		li.info-item
			p.font.white.md Социальные сети
		li.info-item
			a.font.m-white.info-link Facebook
		li.info-item
			a.font.m-white.info-link Twitter
		li.info-item
			a.font.m-white.info-link Vkontakte
		li.info-item
			a.font.m-white.info-link Odnoklassniki
		li.info-item
			a.font.m-white.info-link Linkedin
		li.info-item
			a.font.m-white.info-link Youtube
	.flex-container.info-list.align-self-middle
		.phone.mr
		.block.ml
			p.font.m-white.md + 0000 000 000 00
			p.font.m-white.md + 0000 000 000 00