.container.flex-container.align-justify
	.partner-wrapper.text-center
		p.font.white.text-uppercase Our partners
		ul.flex-container
			li.partner-item
			li.partner-item
			li.partner-item
			li.partner-item
	.partner-wrapper.text-center
		p.font.white.text-uppercase SECURITY &amp; TRUST
		ul.flex-container
			li.partner-item
			li.partner-item
			li.partner-item
			li.partner-item