.betslip.disable
	.betslip-message.betslip-line.yellow
		p.fa.fa-exclamation
		p.font.m-white Click a price to add selection

	.betslip-message.betslip-line.yellow
		p.fa.fa-v
		p.font.m-white Please log in or register now!

	a.betslip-remove.enable.flex-container.align-middle.align-right
		span.font.m-white.mr Remove All
		span.close

	.betslip-main.flex-container.align-justify.align-top
		p.close.betslip-close
		.betslip-block
			p.font.m-white.ellipsis
				span.betslip-live.font live
				| OSC Lille - Evian Thonon Gaillard FC Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ea soluta ipsa ut inventore laboriosam itaque nulla sapiente, dolores, sunt et ex quibusdam modi nesciunt! Facilis dicta incidunt nulla modi?
			p.font.white.ellipsis Way - result
			p.font.white.ellipsis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quaerat et atque commodi, esse nam laboriosam? Nulla id, delectus quisquam animi magni minus totam voluptatibus necessitatibus officia ea obcaecati eaque!
			.flex-container.align-baseline.mt
				input.field.betslip-field.small.mr(type="text", value="5.00")
				p.font.white.ml Possible winnings: 70.00 EUR
			a.font.m-white.betslip-max Bet Max
		p.font.white.betslip-count.red-line 1.50

	.betslip-main.flex-container.align-justify.align-top
		p.close.betslip-close
		.betslip-block
			p.font.m-white.ellipsis
				span.betslip-live.font live
				| OSC Lille - Evian Thonon Gaillard FC Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ea soluta ipsa ut inventore laboriosam itaque nulla sapiente, dolores, sunt et ex quibusdam modi nesciunt! Facilis dicta incidunt nulla modi?
			p.font.white.ellipsis Way - result
			p.font.white.ellipsis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quaerat et atque commodi, esse nam laboriosam? Nulla id, delectus quisquam animi magni minus totam voluptatibus necessitatibus officia ea obcaecati eaque!
			.flex-container.align-baseline.mt
				input.field.betslip-field.small.mr(type="text", value="5.00")
				p.font.white.ml Possible winnings: 70.00 EUR
			a.font.m-white.betslip-max Bet Max
		p.font.white.betslip-count.yellow-line 1.50
	
	.betslip-main.flex-container.align-justify.align-top
		p.close.betslip-close
		.betslip-block
			p.font.m-white.ellipsis
				span.betslip-live.font live
				| OSC Lille - Evian Thonon Gaillard FC Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod ea soluta ipsa ut inventore laboriosam itaque nulla sapiente, dolores, sunt et ex quibusdam modi nesciunt! Facilis dicta incidunt nulla modi?
			p.font.white.ellipsis Way - result
			p.font.white.ellipsis Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam quaerat et atque commodi, esse nam laboriosam? Nulla id, delectus quisquam animi magni minus totam voluptatibus necessitatibus officia ea obcaecati eaque!
			.flex-container.align-baseline.mt
				input.field.betslip-field.small.mr(type="text", value="5.00")
				p.font.white.ml Possible winnings: 70.00 EUR
			a.font.m-white.betslip-max Bet Max
		p.font.white.betslip-count.green-line 1.50
	

	a.betslip-multiples-link.not-active
		span.font.m-white Show multiples

	.betslip-multiples.flex-container.align-baseline
		.flex-container.align-justify
			p.font.white Doubles
			p.font.white 2x
		.wrapper__box.f-column
			input.field.betslip-field(type="text", value="5.00")
			a.font.m-white.betslip-max Bet Max
		p.font.white To return: 75.00
	.betslip-multiples.flex-container.align-baseline
		.flex-container.align-justify
			p.font.white Doubles
			p.font.white 2x
		.wrapper__box.f-column
			input.field.betslip-field(type="text", value="5.00")
			a.font.m-white.betslip-max Bet Max
		p.font.white To return: 75.00

	.block.enable
		.betslip-information.betslip-line.red
			p.font.white The line, odds or availability of your selections has changed
		.betslip-information.betslip-line.yellow
			p.font.white The line, odds or availability of your selections has changed
		.betslip-information.betslip-line.green
			p.font.white The line, odds or availability of your selections has changed
	.betslip-footer.enable.flex-container
		button.button.betslip-button.disable.mr
			span.font.white.text-uppercase Update
		button.button.betslip-button.active.ml
			span.font.white.mr 10.00 USD
			span.font.m-white Place bet