$maInfo: 16px;
.maInfo{
	padding: 10px;
	height: calc(100% - 1px);
	position: relative;
	background-color: #281420;
	.star{
		&:before{
			color: #731225;
		}
	}
	&__icon{
		color: #fff;
		margin-right: 5px;
		&.star{
			&:before{
				font-size: 18px;
			}
		}
	}
	&__separate{
		border: 0;
		margin-left: 10px;
		margin-right: 10px;
		width: 1px;
		height: 20px;
		background-color: $second;
	}
	&__inform{
		color: darken($second, 10%);
		min-height: $maInfo;
		min-width: $maInfo;
		max-height: $maInfo;
		max-width: $maInfo;
		position: relative;
		background-color: rgba(255,255,255,0.6);
		border: 2px solid rgba(255,255,255,0.3);
		border-radius: 50%;
		&:after{
			content: "i";
			position: absolute;
			font-size: 10px;
			font-style: italic;
			font-weight: bold;
			font-family: "Georgia", serif;
			@include absolute-center;
		}
	}
}

.maTable{
	background-color: #281420;
	margin-bottom: 10px;
	.disabled{
		position: relative;
		pointer-events: none;
		&:after {
			content: "";
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			//background-color: red;
			background-color: rgba(40, 20, 32, 0.5);
		}
	}
	&__row{
		display: flex;
		align-items: center;
		width: 100%;
		flex-wrap: wrap;
		//border: 2px solid red;
	}
	&__cell{
		height: 34px;
		flex: 1 1 25%;
		min-width: 25%;
		margin-right: 1px;
		margin-bottom: 1px;
		&.full{
			flex: 1 1 100%;
		}
	}
	&__category{
		background-color: #343341;
		height: $base-height;
		padding: 0 25px 0 10px;
		cursor: pointer;
		display: flex;
		align-items: center;
		position: relative;
		&:before{
			content: "";
			position: absolute;
			font-family: FontAwesome;
			color: #fff;
			font-size: 20px;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
		}
		&:hover{
			background-color: lighten(#343341, 10%)
		}
		
		&.closed{
			&:hover{
				&:before{
					content: "\f107";
				}
			}
		}
		&.open{
			&:hover{
				&:before{
					content: "\f106";
				}
			}
		}

		.icon{
			color: #fff;
			font-size: 20px;
			margin-right: 10px;
		}
		.text{
			color: #fff;
			text-transform: uppercase;
		}
		.score{
			color: #fff;
			margin-left: auto;
			margin-right: 10px;
		}
	}
}